@model IEnumerable<Thryvo.Models.LeaveTypeVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Leave Types</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Create Leave</a>
</p>
<table id="tableData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-outline-warning" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a> 
                <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.Id"><i class="fa fa-info" aria-hidden="true"></i></a> 
                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id" onclick="return confirm('Do you want to delete this record?')">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
<script>
  
</script>
}